$tabletLg: 1024px;
$tablet: 768px;
$mobileLg: 640px;

.headerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 90px;
  position: sticky;
  top: 0;

  @media (max-width: $tabletLg) {
    padding: 0 40px;
  }

  @media (max-width: $tablet) {
    padding: 0 20px;
  }

  @media (max-width: $mobileLg) {
    flex-direction: column;
  }
}

.headerNav {
  color: var(--color-white);
  height: 100px;
  width: 100%;
}

.headerNavList {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  @media (max-width: $mobileLg) {
    width: 100%;
  }
}

.headerNavListItemLink {
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.headerNavListItemLink:hover {
  opacity: 1;
  border-bottom: 1px solid var(--color-red);
}

.headerNavListItemLink:active {
  opacity: 0.9;
}

.buyLink {
  color: var(--color-red);
  display: flex;
  width: 216px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-red);
  border-radius: 8px;
  transition: all 0.1s ease;
  padding: 0 8px;

  @media (max-width: $mobileLg) {
    margin-bottom: 8px;
  }
}

.requestLink {
  color: var(--color-white);
  display: flex;
  width: 216px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-white);
  border-radius: 8px;
  transition: all 0.1s ease;
  margin-right: 20px;
  padding: 0 8px;

  @media (max-width: $mobileLg) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.buyLink:hover,
.requestLink:hover {
  transform: scale(1.1);
}

.buyLink:active,
.requestLink:active {
  transform: scale(1.05);
}

.headerImageWrapper {
  position: relative;
  width: 100%;
  height: 50vw;
  min-height: 512px;

  @media (max-width: $tabletLg) {
    min-height: 612px;
  }
}

.headerImage {
  display: block;
  width: 100%;
  height: 100%;
}

.date {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: var(--color-red);
  z-index: 1;
  font-weight: 600;
  font-size: 40px;
}
