.wrapper {
  width: 100%;
  height: 50px;
  background: var(--color-red);
}

.marqueeContainer {
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  position: relative;
  display: block;
}

.marqueeContainer .marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  display: flex;
  justify-content: space-around;
}

.marqueeContainer .b {
  font-size: 36px;
  text-transform: uppercase;
  color: var(--color-black);
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}