$tabletLg: 1024px;
$tablet: 768px;
$mobileLg: 640px;

.wrapper {
  width: 100%;
  background: var(--color-black);
  color: var(--color-white);
  padding: 20px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;

  @media (max-width: $tablet) {
    padding: 20px 20px;
    padding-top: 220px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 660px;
  background: rgba(0, 0, 0, 0.5);

  @media (max-width: $tablet) {
    width: auto;
  }
}

.textWrapper h2 {
  font-size: 60px;

  @media (max-width: $tablet) {
    font-size: 10vw;
  }
}

.textWrapper p {
  font-size: 24px;
}

.videoWrapper {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 600px;
  padding-bottom: 36.25%;

  @media (max-width: $tablet) {
    padding-bottom: 56.25%;
  }

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.videoImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
