$tabletLg: 1024px;
$tablet: 768px;
$mobileLg: 640px;

.footerWrapper {
  height: 300px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  @media (max-width: $mobileLg) {
    padding: 0 20px;
  }
}

.buyLink {
  color: var(--color-red);
  display: flex;
  width: 216px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-red);
  border-radius: 8px;
  transition: all 0.1s ease;
  padding: 0 8px;
}

.buyLink:hover {
  transform: scale(1.1);
}

.buyLink:active {
  transform: scale(1.05);
}

.mailLink {
  text-decoration: underline;
  color: var(--color-red);
}
